services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.140.1
    ports:
      - "8889:8889"
    networks:
      - otel-netcat

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    networks:
      - otel-net

networks:
  otel-net:
    driver: bridge
